body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.addcitizen,.addemp,.addannouncements,.addrequests,.login{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 40px;
    background: rgba(0,0,0,1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.addcitizen h2,.addemp h2,.addannouncements h2,.addrequests h2,.login h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: cursive;
}
.input{
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: rgba(0,0,0,.8);
    color: white;
    border-bottom: .1px solid rgb(112, 104, 104);
    outline: none;
}
input[type="submit"]{
    padding: 5px 25px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(46, 41, 41);
}
p{
    color: white;
}
table{
    border: 1px solid black;
}
.output{
    border: 1px solid #666;
    padding: 20px;
    margin-bottom: 10px;
}
.listItem{
    border: 1px solid #999;
    margin-bottom: 10px;
    padding: 10px;
}
  
.listItem li{
    list-style: none;
}
h5{
    color: rgb(112, 104, 104);
}
select{
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(112, 104, 104);
}